<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Serve existing files or directories as is
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Otherwise, route everything to index.html
  RewriteRule ^ index.html [L]
</IfModule>

# DirectoryIndex directive to prioritize index.html
DirectoryIndex index.html
